<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lemon.dubbo.message.dao.IMessageRecordDao">
	<resultMap id="messageRecordResultMap" type="cn.lemon.dubbo.message.entity.MessageRecord">
		<id property="id" column="id" />
		<result property="centerId" column="center_id"/>
		<result property="templateId" column="template_id"/>
		<result property="pushMethod" column="push_method"/>
		<result property="receiver" column="receiver"/>
		<result property="title" column="title"/>
		<result property="message" column="message"/>
		<result property="url" column="url"/>
		<result property="receiverId" column="receiver_id"/>
		<result property="sendTimes" column="send_times"/>
		<result property="scheduleTime" column="schedule_time"/>
		<result property="usable" column="usable"/>
		<result property="createdDate" column="created_date"/>
		<result property="creator" column="creator"/>
	</resultMap>

	<!--查询实体数据-->
	<select id="find" resultMap="messageRecordResultMap">
		select * from message_record 
		<where>
		    <if test="usable!=null">
		        and usable=#{usable}
		    </if>
		</where>
		limit 1 
	</select>

	<!--查询实体数据-->
	<select id="findById" resultMap="messageRecordResultMap">
		select * from message_record where id=#{id} limit 1 
	</select>

	<!--查询列表数据-->
	<select id="findAll" resultMap="messageRecordResultMap">
		select * from message_record 
		<where>
		    <if test="usable!=null">
		        and usable=#{usable}
		    </if>
		    <if test="pushMethod!=null">
		        and push_method=#{pushMethod}
		    </if>
		    <if test="scheduleTime!=null">
		        <![CDATA[ and schedule_time<=#{scheduleTime} ]]>
		    </if>
		    <if test="sendTimes!=null">
		        and send_times=#{sendTimes}
		    </if>
		</where>
	</select>

	<!--查询分页列表数据-->
	<select id="findPage" resultMap="messageRecordResultMap">
		select * from message_record 
		<where>
		    <if test="condition.usable!=null">
		        and usable=#{condition.usable}
		    </if>
		    <if test="condition.pushMethod!=null and condition.pushMethod!=''">
		        and push_method=#{condition.pushMethod}
		    </if>
		    <if test="condition.keyword!=null and condition.keyword!=''">
		        and (instr(title, #{condition.keyword}) or instr(message, #{condition.keyword}))
		    </if>
		</where>
	</select>

	<!--保存数据-->
	<insert id="save" parameterType="cn.lemon.dubbo.message.entity.MessageRecord" useGeneratedKeys="true" keyProperty="id">
		insert into message_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id!=null">
				id,
			</if>
			<if test="templateId!=null">
				template_id,
			</if>
			<if test="centerId!=null">
				center_id,
			</if>
			<if test="pushMethod!=null">
				push_method,
			</if>
			<if test="receiver!=null">
				receiver,
			</if>
			<if test="receiverId!=null">
				receiver_id,
			</if>
			<if test="title!=null">
				title,
			</if>
			<if test="message!=null">
				message,
			</if>
			<if test="url!=null">
				url,
			</if>
			<if test="sendTimes!=null">
				send_times,
			</if>
			<if test="scheduleTime!=null">
				schedule_time,
			</if>
			<if test="usable!=null">
				usable,
			</if>
			<if test="createdDate!=null">
				created_date,
			</if>
			<if test="creator!=null">
				creator,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id!=null">
				#{id},
			</if>
			<if test="templateId!=null">
				#{templateId},
			</if>
			<if test="centerId!=null">
				#{centerId},
			</if>
			<if test="pushMethod!=null">
				#{pushMethod},
			</if>
			<if test="receiver!=null">
				#{receiver},
			</if>
			<if test="receiverId!=null">
				#{receiverId},
			</if>
			<if test="title!=null">
				#{title},
			</if>
			<if test="message!=null">
				#{message},
			</if>
			<if test="url!=null">
				#{url},
			</if>
			<if test="sendTimes!=null">
				#{sendTimes},
			</if>
			<if test="scheduleTime!=null">
				#{scheduleTime},
			</if>
			<if test="usable!=null">
				#{usable},
			</if>
			<if test="createdDate!=null">
				#{createdDate},
			</if>
			<if test="creator!=null">
				#{creator},
			</if>
		</trim>
	</insert>

	<!--更新数据-->
	<update  id="update" parameterType="cn.lemon.dubbo.message.entity.MessageRecord">
		update message_record
		<set> 
			<if test="centerId!=null">
				center_id=#{centerId},
			</if>
			<if test="templateId!=null">
				template_id=#{templateId},
			</if>
			<if test="pushMethod!=null">
				push_method=#{pushMethod},
			</if>
			<if test="title!=null">
				title=#{title},
			</if>
			<if test="message!=null">
				message=#{message},
			</if>
			<if test="url!=null">
				url=#{url},
			</if>
			<if test="receiverId!=null">
				receiver_id=#{receiverId},
			</if>
			<if test="sendTimes!=null">
				send_times=#{sendTimes},
			</if>
			<if test="scheduleTime!=null">
				schedule_time=#{scheduleTime},
			</if>
			<if test="receiver!=null">
				receiver=#{receiver},
			</if>
			<if test="usable!=null">
				usable=#{usable},
			</if>
		</set>
		where id=#{id}
	</update>

	<!--删除数据-->
	<delete id="delete">
		delete from message_record where id=#{id}
	</delete>

	<!--逻辑删除数据-->
	<update id="deleteBySoft">
		update message_record set usable=0 where id=#{id}
	</update>

</mapper>
